/* Header */


/* One section HERO*/
.one-section {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
    background-image:
        linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/peopleoffice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
    margin: 0 auto;
}

.one-section-h {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.one-section .one-section-h {
    font-size: 56px;
    line-height: 1.07;

    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.one-section .tab {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.one-section .tab:hover,
.one-section .tab:focus {
    background-color: #404BBF;
}



/* two section */
.two-section {
    line-height: 1.2;
    padding: 120px 0;
}

.description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.paragraph {
    width: calc((100% - 72px) / 4);
}

.two-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

/* three section */
.three-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.ul-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.li-icon {
    width: 40px;
    height: 40px;
}

.team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.photo {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name {
    padding: 32px 0;
}

.surname {
    text-align: center;
    margin-bottom: 8px
}

.post {
    text-align: center;
    padding-bottom: 8px;
}

.team-icon {
    fill: #f4f4fd;
}



.network {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network:hover {
    background-color: #404bbf;
}

.network:focus {
    background-color: #404bbf;
}


/* Four section */
.four-section {
    padding-top: 120px;
    padding-bottom: 120px;
}


.four {
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-portfolio {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover .text-portfolio {
    transform: translateY(0%);
}

.portfolio-icon {
    position: relative;
    overflow: hidden;
}


.services {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.services-list {
    margin-bottom: 8px;
}

.four-text:hover {
    transform: translateY(0%);
}




/* footer */
.web {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    width: 100%;
    max-width: 264px;
}

.foot {
    color: #f4f4fd;
    padding-right: 120px;
}

.link-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-icon {
    display: flex;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.top {
    display: flex;
    align-items: baseline;
}

.footer-class {
    margin-right: 120px;
}

.top-icon {
    display: flex;
    gap: 16px;
    margin-right: 80px;
}

.icons {
    width: 40px;
    height: 40px;
}

.works {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.works:hover,
.works:focus {
    background-color: #31d0aa;
}

.work-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form-table {
    display: flex;
    gap: 24px;
}

.footer-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transform: translateY(-120%);
}

.button-send {
    margin-left: 16px;
}

/* --------Backdrop with modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: #2E2F4266;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 24px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    stroke: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close-btn-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.reviev-form-field-wrapper {
    margin-bottom: 8px;
}

.reviev-form-field-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-reviev {
    position: relative;
}

.reviev-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviev-form-input:focus {
    border-color: #4D5AE5;
    outline: transparent;
}

.reviev-form-field-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-one {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.input-check:checked+.reviev-form-checkbox-label>.reviev-form-own-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.reviev-form-input:focus+.reviev-form-field-icon {
    fill: #4D5AE5;
}

.text-comment {
    margin-bottom: 16px;
}

.reviev-form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviev-form-comment:focus {
    border-color: #4D5AE5;
}

.reviev-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.reviev-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.reviev-form-own-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviev-form-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.privacy-link {
    color: #4d5ae5;
    ;
}