.container {
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (min-width:320px) {
    .container {
        min-width: 330px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 1158px;
    margin: 0 auto;
} */